* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #0f041c;
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 435px) {
    max-width: 370px;
  }
}
